<h2>悩み相談編集</h2>

	<div class="container-fluid">
		<% if @problem.errors.any? %>
      		<h3><%= @problem.errors.count %>件のエラーが発生しました。</h3>
         	    <ul>
           		 <% @problem.errors.full_messages.each do |message| %>
             		<li><%= message %></li>
           		 <% end %>
         	  </ul>
   			<% end %>

		<%= form_for(@problem) do |f| %>

			<div class="row">
			  	<div class="col-md-2"></div>
					<div class="col-md-8" style="text-align: center;">
						<p><%= f.label :タイトル %></p>
						<div><%= f.text_field :title %></div>
					</div>
			  	<div class="col-md-2"></div>
			</div>

			<div class="row">
			  	<div class="col-md-2"></div>
					<div class="col-md-8" style="text-align: center;">
						<p><%= f.label :ジャンル %></p>
						<div class=""><%= f.select :genre, ['英語', 'ホームステイ', '食事', '交友関係', '生活', 'その他'], {include_blank: '選択'}, autofocus: true, autocomplete: "genre" %>
						</div>
					</div>
			  	<div class="col-md-2"></div>
			</div>

			<div class="row">
			  	<div class="col-md-2"></div>
					<div class="col-md-8" style="text-align: center;">
						<p><%= f.label :相談内容 %></p>
						<div class="box4"><%= f.text_area :body, size:"80x10" %></div>
					</div>
			  	<div class="col-md-2"></div>
			</div>

			<div class="row">
			  	<div class="col-md-2"></div>
					<div class="col-md-8" style="text-align: center;">
						<br><%= f.submit '更新' %>
					</div>
			  	<div class="col-md-2"></div>
			</div>
		<% end %>

			<div class="row">
				<div class="col-md-12">
					<div class="button">
						<button type="submit" class="btn btn-success" >
							<%= link_to '一覧', problems_path %>
						</button>
						<button type="submit" class="btn btn-success" >
							<%= link_to "戻る", problem_path(@problem) %>
						</button>
					</div>
				</div>
			</div>
	</div>


