<h2>悩み相談新規投稿</h2>

	<div class="container-fluid">
		<% if @problem.errors.any? %>
      		<h3><%= @problem.errors.count %>件のエラーが発生しました。</h3>
         	  <ul>
           		 <% @problem.errors.full_messages.each do |message| %>
             		 <li><%= message %></li>
           		 <% end %>
         	  </ul>
   		<% end %>

		<%= form_for(@problem, url:problems_path, method: :post) do |f| %>

			<div class="row">
			  	<div class="col-md-2"></div>
					<div class="col-md-8" style="text-align: center;">
						<p><%= f.label :タイトル %></p>
						<div class=""><%= f.text_field :title, placeholder:"50文字以内でお願いします。" %></div>
					</div>
			  	<div class="col-md-2"></div>
			</div>

			<div class="row">
			  	<div class="col-md-2"></div>
					<div class="col-md-8" style="text-align: center;">
						<p><%= f.label :ジャンル %></p>
						<div class=""><%= f.select :genre, ['英語', 'ホームステイ', '食事', '交友関係', '生活', 'その他'], {include_blank: '選択'}, autofocus: true, autocomplete: "genre" %>
						</div>
					</div>
			  	<div class="col-md-2"></div>
			</div>

			<div class="row">
			  	<div class="col-md-2"></div>
					<div class="col-md-8" style="text-align: center;">
						<p><%= f.label :相談内容 %></p>
						<div class="box4"><%= f.text_area :body, size:"80x10", placeholder:"困っていること、解決したいことを300文字以内で書いてください。" %></div>
					</div>
			  	<div class="col-md-2"></div>
			</div>

			<div class="row">
			  	<div class="col-md-2"></div>
					<div class="col-md-8" style="text-align: center;">
						<br><%= f.submit '相談内容を投稿する' %>
					</div>
			  	<div class="col-md-2"></div>
			</div>

		<% end %>
	</div>