<h2>経験談編集ページ</h2>

<%= form_for(@experience) do |f| %>

	<h3>Title</h3>
<%= f.text_field :title %>

	<h3>body</h3>
	<%= f.text_field :body %>

	<%= f.submit '更新' %>

	<%= link_to '一覧', experiences_path %>
	<%= link_to "詳細ページ", experience_path(@experience) %>


<% end %>