<h2>ユーザー編集ページ</h2>
<%= form_for(@user) do |f| %>
	  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field :age,min:1,max:100,sttep:10, autofocus: true, autocomplete: "age" %>
  </div>

  <div class="field">
    <%= f.label :introduction %><br />
    <%= f.text_field :introduction, autofocus: true, autocomplete: "introduction" %>
  </div>
<% end %>